langchain==0.3.7
langchain-core==0.3.19
langchain-community==0.3.7
langchain-google-genai==2.0.4
langchain-openai==0.2.3
langsmith==0.1.125
langchain-cohere
chromadb
faiss-cpu
pypdf
langchain[docarray]

langchain-astrsdb
llama-index-vector-stores-lancedb==0.4.1
lancedb==0.25.2
llama-index-core==0.14.7
llama-index-multi-modal-llms-openai==0.6.2
llama-index-llms-openai==0.6.6
llama-index-embeddings-clip==0.5.1
clip==1.0
llama-index-readers-file==0.5.4
llama-index-readers-llama-parse==0.5.1
llama-index==0.14.7
llama-index-cli==0.5.3
llama-index-embeddings-openai==0.5.1
moviepy==1.0.3
pytube==15.0.0
pydub==0.25.1
ffmpeg-python==0.2.0
soundfile==0.12.1
torch==2.9.0
torchvision==0.24.0
scikit-image==0.25.0
matplotlib==3.9.2
ftfy==6.3.1
regex==2025.10.23
tqdm==4.67.1
yt-dlp
llama-index-embeddings-HuggingFace
llama-index-llms-google-genai
unstructured-pytesseract
tesseract-ocr
unstructured[all-docs]
unstructured[pdf]
unstructured[pptx]
unstructured
pytesseract
